@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import "tailwindcss";
a.active hr{
  display: block;
  background-color: #3ac67b;

}
a.active p{
  color:#10B981;
  
}
*{
  font-family:Outfit;
  /* background-color: bg- #3ac67b #262730 #0132fb #777784 */
  
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar{
  display: none;
}
@media (max-width: 640px) {
  a.active{
    background-color: black;
    color:white;
  }

}
